.wrapper{padding: 0 4rem;
}

.flexbox-kurser-side {
    display: flex;


}

.bruger-overskrift-h1{
font-size: var(--fnt-size45);

}
#bruger-navn{ display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8rem 0; 
    font-size: ;

}
#bruger-konto-link{text-decoration: none;}

.bruger-instilinger{
text-decoration: none;
color:var(--clr-main);
}

.kurser{}

.bruger-overskrift-h2 {
    font-weight: 300;
    margin: 4rem  0 3rem 0 ;
 }

.kursus-container{

    margin: 0 3% 0 0
}

.kursus__img {
    width: 300px;
    height: 180px;
    object-fit: cover;
    ;
}

.dots {
    position: absolute;
    left: 0;
    z-index: -1;
    margin-top: 20px;
    width: 100%;}