:root {
    --ff-heading: "Poppins", sans-serif;
    --ff-body: "Poppins", sans-serif;
    --clr-main: #4D4BFF;
    --clr-secondry: #68BAA6;
    --clr-icon: #FA7A02;
    --clr-link: #000;
    --clr-bg: #9b9b9b;
    --clr-error: #FF4B4B;
    --radius-size: 3px;
    --fnt-size16: 1rem;
    --fnt-size18: 1.125rem;
    --fnt-size20: 1.25rem;
    --fnt-size25: 1.5625rem;
    --fnt-size35: 2.1875rem;
    --fnt-size45: 2.8125rem;
    font-size: 1rem; /* 18px as normal font-size */
}



@font-face {
    font-family: poppins;
    src: url(../fonts/poopins-Regular.woff) format("woff"),
    url(../fonts/poopins-Regular.tff) format("ttf"),
    font-weight: 400;
    font-style: normal;
    font-display: swap
  }

@font-face {
    font-family: poppins;
    src: url(../fonts/poopins-Bold.woff) format("woff"),
    url(../fonts/poopins-Bold.ttf) format("ttf"),
    font-weight: 700;
    font-style: normal;
    font-display: swap
  }


* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: var(--ff-body);
}

p {font-size: 1rem}

h2{font-size: 2rem}

.wrapper{
margin: auto;
    padding: 0 4rem;
    max-width: 1520px;
}
