#main-curses {
    padding: 0 4rem;
}

.all-courses-container {}

/* Styling af hvert kursus i liste */

.all-courses-element {
    height: 200px;
    display: flex;
}

.all-courses-image-container {
    height: 100%;
    background-color: blanchedalmond;
    width: 25%;
}

.all-courses-image {
    height: 100%;
}

.all-courses-text-container {
    background-color: cadetblue;
    width: 50%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.all-courses-price-container {
    background-color: cornsilk;
    width: 25%;
}

.price-button {
    width: 200px;
    height: 30px;
}