/* ------------------
***********************
        Hero Section
***********************
--------------------*/

.hero {
    position: relative;
    width: 100%;
    max-height: 90vh;
}

.hero__content {
    position: absolute;
    z-index: 5;
    color: white;
    left: 0;
    padding-left: 4rem;
}

.hero__heading {
    font-family: var(--fnt-heading);
    font-size: 3rem;
    max-width: 25ch;
    font-weight: bold;
    margin: 20vh auto 0 auto;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.37);
}

.hero__paragraph {
    max-width: clamp(20em, 45vw, 800px);
    margin-top: 2rem;
    font-size: var(--fnt-size18);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.37);
}

.hero__btn {
    display: inline-block;
    margin-top: 8rem;
    font-size: var(--fnt-size20);
    padding: 1em 1.5em;
    font-weight: bold;
    background-color: var(--clr-main);
    color: white;
    text-decoration: none;
}

.hero__video-container {
    height: calc(100vh - 100px);
    overflow: hidden;
}

.hero__video {
    width: 100%;
    /* height: calc(100vh - 100px); */
    display: block;
    z-index: 0;
}

.banner {
    background-color: #F0F0F0;
    /* height: 20rem; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5rem 2rem 5rem 2rem;
}

.banner__paragraf {
    font-size: var(--fnt-size20);
    text-align: center;
    width: 25ch;
}

.flexbox-kurser {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px 100px;

}

.kurser-overskrift {
    margin: 100px 0px 30px 100px;
}

.kursus__img {
    width: 300px;
    height: 180px;
    object-fit: cover;
}

.dots {
    position: absolute;
    z-index: -1;
    margin-top: 20px;
    width: 100%;
}

.kursus__btn {
    display: inline-block;
    margin: 4rem 0 100px 50%;
    transform: translateX(-50%);
    font-size: var(--fnt-size20);
    padding: 1em 1.5em;
    font-weight: bold;
    background-color: var(--clr-main);
    color: white;
    text-decoration: none;
}

.kurser-pris {
    color: #4D4BFF;
}

.nyhedsbreve {
    background-color: #68BAA6;
}

.flexbox-nyhedsbreve {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 80px;
}

#nyhedsbreve-input {
    height: 50px;
    width: 300px;
}

.nyhedsbreve__btn {
    padding: 13px 30px 13px 30px;
    font-size: var(--fnt-size16);
    background-color: var(--clr-main);
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.kategorier-h1 {
    text-align: center;
    margin: 80px 0px 0px 0px;
}

.image_zoom {
    display: block;
    width: 300px;
    height: 230px;
    overflow: hidden;
}

.flexbox-kategorier {
    display: flex;
    justify-content: space-around;
    text-align: center;
    object-fit: cover;
    margin: 50px 100px 100px 100px;
}

.kategori__img {
    opacity: 1.0;
    width: 300px;
    height: 230px;
    object-fit: cover;
    transition: transform .4s;
}

.kategori__img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

.fotografen-h1 {
    text-align: center;
    margin: 80px 0px 0px 0px;
}

.flexbox-fotografen {
    display: flex;
    background-color: #F2F2F2;
    margin: 50px;
    margin-bottom: 100px;
}

.fotografen-text {
    padding: 50px;
}

.selvportræt {
    height: 500px;
    width: 500px;
}

/* SLIDESHOW*/

.slideshow-container {
    max-width: 60%;
    position: relative;
    margin: auto;
    margin-bottom: 100px;
}

/*PILE*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*Sætter frem-pilen til højre*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Sætter tilbage-pilen til venstre*/
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/*Billedenummer*/
.numbertext {
    color: white;
    background-color: black;
    border-radius: 0 0 5px 0;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Fade-animation af billeder*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

/*footer*/
.flexbox-footer {
    display: flex;
    justify-content: space-around;
    background-color: #68BAA6;
    padding: 100px 0 80px 0;
}

.footer-text p{
    margin: 20px;
}

.fa-facebook-square, .fa-instagram-square, .fa-linkedin {
    margin: 0 10px 0 0;
    font-size: 30px;
    vertical-align: middle;
}

.buttom-footer {
    background-color: #40786A;
    padding: 20px;
}

.logo-hvid {
    width: 15%;
    margin: 0 0 0 130px;
}

.buttom-footer-text {
    margin-right: 130px;
    padding-top: 5px;
}

.flexbox-button-footer {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}