.video-section{
display: flex;

}

.video-element{
  width: 60%;
}
.playlist{
width: 40%;

}

.episode{
  background-color: #E6E6E6;
  margin: 0 0 0 2rem;
  padding: 1rem 1rem 0 1rem;
}

.playicon{
float: left;
}

.flex-episode{
display: flex;
justify-content: space-between;
}

.episode-timer{
padding: 0 0 0 0
}

.episode-titel{
font-weight: 500;
margin: 0 1rem 0 1rem

}
.episode-progress{
margin: 0px;
padding: 0px

}