.video-section{
display: flex;

}

.video-element{
  width: 60%;
}
.playlist{
width: 40%;

}

.episode{
  background-color: #E6E6E6;
  margin: 0 0 0 2rem;
  padding: 1rem 1rem 0 1rem;
}

.flex-episode{
  width: 100%;
/* display: flex;
justify-content: space-between; */
}

.episode-timer{
  padding: 0 0 0 0;
  display: inline;
}

.episode-titel{
  display: inline;
  font-weight: 500;
  margin: 0 auto 0 1rem;

}

.fa-play {

}

.episode-progress {
  -webkit-appearance: none;
  display: block;
}

progress::-webkit-progress-bar {
  background-color: orange;
}

progress::-webkit-progress-value {
  background-color: purple;
}